@font-face {
  font-family: "District Thin";
  src: url(DistThin.otf) format("truetype");
}
/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

body, html {
	width:100%;
	height:100%;
	/*background-color:#1E2129;*/
	background-color:#3369E8;
}

/**********************/
/***Container Styles***/
/**********************/

#container h3 {
	font-family: "District Thin", "Lucida Grande", tahoma, arial, sans-serif;
	font-size: 250%;
	color:#f3f3f3;
	letter-spacing:.14em;
	margin-top : .5em;
}

#container {
	width: 70%;
	margin: 1em auto 1em auto;
	font-family: "Lucida Grande", "Lucida Sans", tahoma, arial, sans-serif;
	padding-bottom:1em;
}

#container .info_item {
	padding:.5em	;
	min-height:10%;
	height:10%;
	margin-top:1em;
	max-height:10%;
	border-radius:5px;
	float:left;
	margin-right:1%;
	background-color:#F1F1F1;
	width:100%;
}

.info_item img {
	max-height:100%;
	max-width:20%;
}

.info_item p {
	padding-left:2%;
	/*line-height:2em;*/
}

.float_left { float:left; }

.wide { width : 55%; }
.thin { width : 38%; }
.full { width : 95.6%; }

.theme1{
	background-color:#4c67a7;
	color:#f2f2f2;
}

.theme2{
	background-color:#ac1216;
	color:#f2f2f2;
}

.theme3{
	background-color:#8C8984;
	color:#363636;
}

.theme4{
	background-color:#4fe459;
	color:#454545;
}

.theme5{
	background-color:#2f5ca8;
	color:#f3f3f3;
}

.theme6{
	background-color:#dA9A59;
	color:#454545;
}

.theme7{
	background-color:#1f147c;
	color:#f2f2f2;
}

.theme8{
	background-color:#ff5d69;
	color:#454545;
}

.theme9{
	background-color:#FFAB4A;
	color:#454545;
}

.theme10{
	background-color:#454545;
	color:#f2f2f2;
}
/***
Colors

#4c67a7
#ac1216
#8C8984
#4fe459
#2f5ca8
#d8fc00
#1f147c
#ff5d69
#FFAB4A
#1E2129
*/